<!-- templates/tracker.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Integrated Student Planner
</h1>
<div class="row columns is-centered">
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ url_for('static', filename='2020s.png') }}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="{{ url_for('static', filename='alogo.png') }}" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding is-marginless	">Akshat Patel</p>
                                    <p class="is-marginless"><span class="title is-6 is-marginless"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                    <p class="subtitle is-6 is-marginless"> Developer</p>
                                </div>
                            </div>
                            <div class="content">
                                Hello, I am Akshat.<br>
                                A senior at Adelphi University <br> Graduating May 2020.<br><br> <p style="font-size:0.8em;"> Please hire us </p>

                                <div class="background-icon"><span class="icon-twitter"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ url_for('static', filename='2020s.png') }}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="{{ url_for('static', filename='dlogo.png') }}"  alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding is-marginless">David Ijagbemi</p>
                                    <p class="is-marginless"><span class="title is-6 is-marginless"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                    <p class="subtitle is-6 is-marginless">Developer</p>
                                </div>
                            </div>
                            <div class="content">
                                Hello I am David. <br>
                                A senior at Adelphi University <br> Graduating May 2020.<br><br> <p style="font-size:0.8em;"> Please hire us </p>
                                <div class="background-icon"><span class="icon-facebook"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
{% endblock %}
