<!-- templates/calendar.html -->

{% extends "base.html" %}

{% block content %}



<link rel="stylesheet" href="{{ url_for('static', filename='vanilla-calendar-min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='adminStyle.css')}}">
<script src="{{ url_for('static', filename='vanilla-calendar-min.js')}}"></script>
<style>
  .Show
{
  display:none;
}
</style>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {

    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid', 'timeGrid', 'list', 'bootstrap' ,'interaction'],
      defaultView: 'dayGridMonth',
      timezone: 'UTC',
      themeSystem: 'bootstrap',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      navLinks: true,
      selectable: true,
      selectMirror: true,


      select: function(arg) {
        var title = window.prompt('Event title: ');
        //var jsonTitle = '';
        //try to get alertable to work
      /* $.alertable.prompt('Event title:').then(function(title){
          console.log('Title', title);
          title = this.title;
          return title;
        });
       jsonTitle =  JSON.stringify(title.value);
        console.log("Title:", jsonTitle);*/
        if(title){
            calendar.addEvent({
            title: title,
            start: arg.start,
            end: arg.end,
            allDay: arg.allDay
          })
        }
        calendar.unselect()
      },
      editable: true,
      eventClick: function(info) {
      var eventObj = info.event;
      $(".modal").addClass("is-active");


      $(".delete").click(function() {
        $(".modal").removeClass("is-active");
        });
      document.getElementById("title").innerHTML = 'Event: ' + eventObj.title + '.\n ';
      document.getElementById("body").innerHTML = 'Description: ' + info.event.extendedProps.description + '.\n \n';

     /*if (eventObj.url) {
        $.alertable.alert(
          'Event: ' + eventObj.title + '.\n ' +
          'Description: ' + info.event.extendedProps.description + '.\n \n'
          //'Will open ' + eventObj.url + ' in a new tab'
        );}*/
	       if (info.event.url) {
        //  window.open(info.event.url);
    			     }
        info.jsEvent.preventDefault(); // prevents browser from following link in current tab.
      //} else {
      //  alert('Clicked ' + eventObj.title);
    //  }
    },
      weekNumbers: true,
      eventLimit: true, // allow "more" link when too many events
      //events: 'https://fullcalendar.io/demo-events.json'
      //events: '../static/icalexport.json'
	    events: 'static/{{ email }}icalexport.ics.json'
      /*events: [
    {
      title  : 'Senior seminar II',
      start  : '2020-02-17'
    },
    {
      title  : 'Work on ISP',
      start  : '2020-02-18',
      end    : '2020-02-20'
    },
    {
      title  : 'Research conference abstracts due',
      start  : '2020-02-21T12:30:00',
      allDay : false // will make the time show
    }
  ]*/

      /*{url: 'https://moodle.adelphi.edu/calendar/export_execute.php?userid=46823&authtoken=6cba10fe984542e7db46c6aafd7cdb3a8c404f81&preset_what=all&preset_time=custom',
        failure: function() {
          document.getElementById('script-warning').style.display = 'block'
        }
      },
      loading: function(bool) {
        document.getElementById('loading').style.display =
          bool ? 'block' : 'none';
      }*/
    });

    calendar.render();
  });

</script>
<span style="transform: translateX(-50%)" class="tag is-danger Hide"> Close <button id="hide" class="delete is-small"></button> </span>
<button class="button is-link Show">Show</button>
<div style="float:right; width: 70%; margin-left:0px;" id="calendar"></div>
<div id='datepicker'></div>
<div style=" margin-bottom: 10px; transform: translateX(-50%); float:left; marign-right:0px; width: 30%;" id="myCalendar" class="vanilla-calendar"></div>

<div class="modal modal-fx-fadeInScale">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-info" style="padding: 8px;">
      <p class="modal-card-title has-text-white" id="title" style="margin-bottom: 0px;"></p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body has-background-light" id="body">
      <!-- Content ... -->
    </section>
  </div>
</div>

<div style="float:left; width:30%; transform: translateX(-50%); " id="events" class="column is-6">
                        <div class="card events-card">
                            <header style="padding:0px;" class="card-header">
                                <p class="card-header-title">
                                    <strong> Latest Events </strong>
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">

                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Sprint Report 4 is due.</td>
                                                  <td> 04/06/2020</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#">Edit</a>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Sprint Report 5 is due.</td>
                                                  <td> 04/20/2020</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#">Edit</a>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Sprint Report 6 is due.</td>
                                                  <td> 05/04/2020</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#">Edit</a>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Final Project Deliverables is due.</td>
                                                  <td> 05/11/2020</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#">Edit</a>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>

<script>
        let pastDates = true, availableDates = false, availableWeekDays = false

        let calendar = new VanillaCalendar({
            selector: "#myCalendar",
            months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            shortWeekday: ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'],
            onSelect: (data, elem) => {
                console.log(data, elem)
            }
        })
$( document ).ready(function() {
        $('.Show').click(function() {
            $('#myCalendar').show(500);
            $('#events').show(500);
            $('#calendar').css({"width":"70%"});
            $('.Show').hide(0);
            $('.Hide').show(0);
        });
        $('.Hide').click(function() {
            $('#myCalendar').hide(500);
            $('#events').hide(500);
            $('#calendar').css({"width":"100%"});
            $('.Show').show(0);
            $('.Hide').hide(0);
        });
        $('.toggle').click(function() {
            $('#myCalendar').toggle('slow');
        });
      });
    </script>
{% endblock %}
