<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}




<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {

    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid', 'timeGrid', 'list', 'bootstrap' ],
      defaultView: 'dayGridMonth',
      timezone: 'UTC',
      themeSystem: 'bootstrap',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },

      eventClick: function(info) {
      var eventObj = info.event;

      if (eventObj.url) {
        $.alertable.alert(
          'Event: ' + eventObj.title + '.\n ' +
          'Description: ' + info.event.extendedProps.description + '.\n \n'
          //'Will open ' + eventObj.url + ' in a new tab'
        );
	       if (info.event.url) {
          // window.open(info.event.url);
    			     }
        info.jsEvent.preventDefault(); // prevents browser from following link in current tab.
      } else {
        alert('Clicked ' + eventObj.title);
      }
    },
      weekNumbers: true,
      eventLimit: true, // allow "more" link when too many events
      //events: 'https://fullcalendar.io/demo-events.json'
      //events: '../static/icalexport.json'
	     events: 'static/{{ email }}icalexport.ics.json'
      /*events: [
    {
      title  : 'Senior seminar II',
      start  : '2020-02-17'
    },
    {
      title  : 'Work on ISP',
      start  : '2020-02-18',
      end    : '2020-02-20'
    },
    {
      title  : 'Research conference abstracts due',
      start  : '2020-02-21T12:30:00',
      allDay : false // will make the time show
    }
  ]*/

      /*{url: 'https://moodle.adelphi.edu/calendar/export_execute.php?userid=46823&authtoken=6cba10fe984542e7db46c6aafd7cdb3a8c404f81&preset_what=all&preset_time=custom',
        failure: function() {
          document.getElementById('script-warning').style.display = 'block'
        }
      },
      loading: function(bool) {
        document.getElementById('loading').style.display =
          bool ? 'block' : 'none';
      }*/
    });


    calendar.render();
  });
</script>

<div id="calendar"></div>
{% endblock %}
